.text {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 280px;
    padding: 10px;
    margin: 15px;
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
}

.text::placeholder {
    opacity: 0;
    color: #b3b3b3;
}

.text:focus {
    border: 2px solid black;
}

.text:focus::placeholder {
    opacity: 1;
}